@media screen and (max-width: 931px) {
  .toggle-icon {
    padding-top: 10px;
    padding-right: -30%;
  }
  .menu__list {
    display: none;
  }
  .pushed .menu__list {
    display: block;
    text-align: center;
    margin-left: -500px;
  }
  .pushed .menu__list li {
    padding: 10px 0;
  }
  .podmenu__list {
    margin-left: 425px;
    margin-top: -68px;
  }
  #nav-container {
    width: 100%;
    padding-left: 40%;
  }
  /*toggle-icon*/
  .toggle-icon {
    display: block;
    width: 100%;
    -webkit-transition: margin 0.3ms;
    transition: margin 0.3ms;
    cursor: pointer;
  }
  .toggle-icon .bar {
    display: block;
    width: 2.8em;
    height: 0.2em;
    margin: 0.5em;
    border-right: 1.8em solid #fff;
    border-left: 0.6em solid #d6d6d6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: -webkit-transform, margin, border-right-color, box-shadow;
    -webkit-transition-property: margin, border-right-color, -webkit-transform, -webkit-box-shadow;
    transition-property: margin, border-right-color, -webkit-transform, -webkit-box-shadow;
    transition-property: transform, margin, border-right-color, box-shadow;
    transition-property: transform, margin, border-right-color, box-shadow, -webkit-transform, -webkit-box-shadow;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
  }
  .toggle-icon .bar:nth-of-type(1) {
    -webkit-transition: opacity 30ms;
    transition: opacity 30ms;
  }
  .toggle-icon .bar:nth-of-type(2) {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  /*pushed*/
  .pushed .bar:nth-of-type(1) {
    opacity: 0;
  }
  .pushed .bar:nth-of-type(2) {
    margin-left: 1.4em;
    -webkit-transform: rotate(-133deg) translateY(-1em);
            transform: rotate(-133deg) translateY(-1em);
  }
  .pushed .bar:nth-of-type(3) {
    margin-left: 0.6em;
    -webkit-transform: rotate(-48deg);
            transform: rotate(-48deg);
  }
  .pushed .toggle-icon:hover .bar:nth-of-type(2) {
    border-right-color: #e9b8b9;
    -webkit-box-shadow: 0.4em 0 0.6em 0.1em rgba(205, 40, 44, 0.75);
            box-shadow: 0.4em 0 0.6em 0.1em rgba(205, 40, 44, 0.75);
  }
  .pushed .toggle-icon:hover .bar:nth-of-type(3) {
    border-right-color: #ddf1da;
    -webkit-box-shadow: 0.4em 0 0.6em 0.1em rgba(83, 228, 68, 0.65);
            box-shadow: 0.4em 0 0.6em 0.1em rgba(83, 228, 68, 0.65);
  }
  .podmenu__list li {
    display: none;
  }
  .list__podmenu span {
    position: absolute;
    opacity: 0;
    margin-right: -10px;
  }
}

@media screen and (max-width: 600px) {
  .pushed .menu__list {
    margin-left: -300px;
  }
  .pushed .menu__list li {
    padding: 10px 0;
  }
  #nav-container {
    width: 100%;
    padding-left: 40%;
  }
}

@media screen and (max-width: 480px) {
  .pushed .menu__list {
    margin-left: -300px;
  }
  #nav-container {
    width: 100%;
    padding-left: 40%;
  }
}

@media screen and (max-width: 370px) {
  .pushed .menu__list {
    margin-left: -100px;
    text-align: left;
  }
}
