#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #cd0003;
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  background-color: #cd0003;
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: #cd0003;
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  top: 0;
  border-radius: 0;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 3%;
  left: 75%;
  width: 3rem;
  height: 3.5rem;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  visibility: hidden;
  position: fixed;
  top: -100%;
  left: 0%;
  border-radius: 0 0 0% 80%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  text-align: center;
  list-style: none;
  background-color: #333;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.menu__item {
  font-size: 20px;
  font-weight: 600;
}

.menu__item,
.podmenu__item {
  line-height: 2.5;
  color: #fff;
  text-decoration: none;
  display: block;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.podmenu__item:hover,
.menu__item:hover {
  background-color: #616161;
  -webkit-transition-duration: 0.9s;
          transition-duration: 0.9s;
}

.list__podmenu {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.list__podmenu:hover {
  -webkit-box-shadow: 0 0 15px rgba(146, 145, 145, 0.5);
          box-shadow: 0 0 15px rgba(146, 145, 145, 0.5);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

@media screen and (min-width: 900px) {
  .menu__btn {
    top: 3%;
    left: 90%;
  }
}

@media screen and (min-width: 1100px) {
  .menu__btn {
    display: none;
  }
  .menu__box {
    visibility: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    width: auto;
    height: auto;
    border-radius: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
  }
  .podmenu__item:hover,
  .menu__item:hover {
    background-color: transparent;
  }
  .list__podmenu:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  /************** ANIMASHION*******************/
  .menu__box li:hover .podmenu__list li:first-of-type {
    -webkit-animation: podmenu__list 0.3s ease-in-out forwards;
            animation: podmenu__list 0.3s ease-in-out forwards;
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .menu__box li:hover .podmenu__list li:nth-of-type(2) {
    -webkit-animation: podmenu__list 0.3s ease-in-out forwards;
            animation: podmenu__list 0.3s ease-in-out forwards;
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  .menu__box li:hover .podmenu__list li:nth-of-type(3) {
    -webkit-animation: podmenu__list 0.3s ease-in-out forwards;
            animation: podmenu__list 0.3s ease-in-out forwards;
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  @-webkit-keyframes podmenu__list {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes podmenu__list {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  /*****************/
  .list__podmenu:hover .podmenu__list,
  .list__podmenu:focus .podmenu__list {
    opacity: 1;
  }
  .list__podmenu li a {
    background-color: rgba(0, 0, 0, 0.9);
  }
  .list__podmenu li a:hover {
    background-color: rgba(0, 0, 0, 0.9);
  }
  .podmenu__list {
    font-size: 18px;
    opacity: 0;
    -webkit-transform-origin: top center;
            transform-origin: top center;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    margin-left: -14px;
  }
  .podmenu__list a {
    float: none;
    padding: 3px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .podmenu__list li {
    opacity: 0;
    -webkit-transform-origin: top center;
            transform-origin: top center;
  }
}

.active {
  color: #cd0003;
  pointer-events: none;
}
