@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600;700;900&display=swap");
body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

a:hover {
  color: #cd0003;
}

ul,
li {
  color: #fff;
}

.active {
  color: #cd0003;
  pointer-events: none;
}

.header-top {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  font-size: 23px;
  font-weight: 400;
}

.wrappers {
  color: #fff;
}

.top-container {
  margin: 0 auto;
  width: 70%;
}

.top-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  max-height: 105px;
}

.logo-top {
  margin-top: 10px;
  max-width: 7rem;
}

.logo-top img {
  width: 100%;
  z-index: 9999;
  opacity: 1;
}

.contact {
  text-align: left;
  width: 235px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin-top: -15px;
}

.tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.tel span {
  margin-top: 5px;
}

.email {
  color: #cd0003;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
}

.menu__list-item {
  margin-left: 20px;
}

/************** ANIMASHION*******************/
.menu__list li:hover .podmenu__list li:first-of-type {
  -webkit-animation: podmenu__list 0.3s ease-in-out forwards;
          animation: podmenu__list 0.3s ease-in-out forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.menu__list li:hover .podmenu__list li:nth-of-type(2) {
  -webkit-animation: podmenu__list 0.3s ease-in-out forwards;
          animation: podmenu__list 0.3s ease-in-out forwards;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.menu__list li:hover .podmenu__list li:nth-of-type(3) {
  -webkit-animation: podmenu__list 0.3s ease-in-out forwards;
          animation: podmenu__list 0.3s ease-in-out forwards;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@-webkit-keyframes podmenu__list {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes podmenu__list {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*****************/
.list__podmenu:hover .podmenu__list,
.list__podmenu:focus .podmenu__list {
  opacity: 1;
}

.list__podmenu li a {
  background-color: rgba(0, 0, 0, 0.75);
}

.podmenu__list {
  font-size: 18px;
  opacity: 0;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  margin-left: -14px;
}

.podmenu__list a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.podmenu__list li {
  opacity: 0;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

/********SECTION**********/
.section__container {
  overflow: hidden;
}

.section-top {
  margin: 0;
}

.section {
  padding: 0 5px;
  border-top: solid 0.5px #fff;
  text-align: center;
}

.section__container {
  width: 100%;
  padding-bottom: 15px;
}

.section__title {
  font-size: 25px;
}

.section__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.section__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /************** БЛОКИ С ВИДЕО ********/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.section__boxs-height {
  width: 300px;
  border: solid 0.5px #fff;
  overflow: hidden;
  margin: 10px;
  background-color: #666;
}

.section__boxs-height .section__box-img {
  width: 100%;
  margin: 0 auto;
}

.section__boxs-height .section__box-text {
  margin: 0;
}

.section__boxs-height .section__box-texte {
  margin: 5px;
}

.section__boxs-height__boxs-center {
  -ms-grid-column-align: center;
      justify-self: center;
}

.section__boxs-top {
  display: block;
  margin-top: 0;
  width: 100%;
  padding: 20px 0;
  background-color: #363636;
}

.section iframe {
  border: none;
  /***************/
}

.section__boxs {
  margin: 0 auto;
}

.section__box-img {
  border: solid 0.5px #fff;
  overflow: hidden;
  width: 260px;
  height: 140px;
  margin: 5px;
}

.section__box-img:hover ~ a {
  color: #cd0003;
}

.section__box-img img {
  width: 100%;
  height: auto;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
}

.section__box-img img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

.section__box-img img iframe {
  width: 100%;
  height: auto;
}

.section__box-text {
  margin: 15px 0;
  font-size: 15px;
}

.section__box-texte {
  text-align: left;
  /*******ABOUT US*********/
  letter-spacing: 1px;
  font-size: 10px;
  line-height: 20px;
  word-wrap: break-all;
}

.section__box-texte p {
  padding: 8px 0;
}

.section__box-texte span {
  white-space: pre;
  color: #cd0003;
  line-height: 25px;
}

.section__box-textes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section__box-textes p {
  display: inline-block;
}

.section__box-textes span {
  display: block;
  margin-left: 10px;
  font-weight: 600;
}

.section-color {
  background-color: #363636;
}

.section-colors {
  background-color: #666666;
}

/*******FOOTER********/
.footer__containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.footer__nav {
  width: 160px;
}

.footer__nav li {
  padding: 10px 0;
}

.footer__nav-menu {
  font-size: 20px;
}

.footer__nav-podmenu {
  min-width: 160px;
  font-weight: 400;
  font-size: 13px;
}

.footer__nav-podmenu li {
  padding: 10px;
}

.footer__logo {
  margin: 0 auto;
  margin-top: 10px;
  max-width: 150px;
  height: auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.footer__logo img {
  width: 70%;
}

.footer__bottom {
  margin: 0 auto;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__box {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 5px;
}

.footer__text {
  margin-top: 20px;
}

.footer__contacts {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  line-height: 40px;
}

/********** TITLE ***************/
.data-title {
  display: inline-block;
  /* Строчно-блочный элемент */
  position: relative;
  /* Относительное позиционирование */
}

.data-title:hover::after {
  content: attr(data-title);
  /* Выводим текст */
  position: absolute;
  /* Абсолютное позиционирование */
  right: 20%;
  bottom: 110%;
  /* Положение подсказки */
  color: #fff;
  z-index: 1;
  /* Отображаем подсказку поверх других элементов */
  background-color: #363636;
  /* цвет фона */
  font-size: 11px;
  /* Размер текста подсказки */
  padding: 5px 10px;
  /* Поля */
  border: 1px solid #333;
  /* Параметры рамки */
  width: 200px;
}

/**********modeling***************/
.section__conts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: solid 0.5px #fff;
  height: auto;
}

.section__conts-img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  overflow: hidden;
  width: 100%;
  height: 139px;
}

.section__conts-img:hover ~ a {
  color: #cd0003;
}

.section__conts-img img {
  width: 100%;
  height: auto;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
}

.section__conts-img img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

.section .bottom {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: 15px;
}

.section__conts-text {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.conts {
  padding: 30px;
}

/*********ОТСТУП ТЕКСТА ПОД БОЛЬШИМ СЛАЙДЕРОМ***********/
.text__bottom {
  padding-bottom: 15px;
}

/********************/
/*********отступы в секции с маленьким слайдером ПОХОЖИЕ РАБОТЫ**********/
.modeling__title {
  padding-bottom: 15px;
}

.modeling {
  padding-bottom: 15px;
}

/****************/
/*********   PRICES   ************/
.prices {
  padding-bottom: 10px;
  overflow: hidden;
}

.prices__block {
  width: 99%;
  border: solid 0.5px #fff;
}

.prices .prices-title {
  padding: 10px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.prices .prices-title .prices__mobail-none {
  display: none;
}

.prices__block-title {
  border-bottom: solid 0.5px #fff;
  padding: 10px 0;
}

.prices__block-titles {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.prices h6:nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  padding: 0 5px;
}

.prices h6:nth-child(2) {
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
  padding-right: 5px;
}

.prices h6:nth-child(3) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0;
}

.prices__color-dark {
  background-color: #363636;
}

.prices__color-light {
  background-color: #666;
}

.prices__mobail-none {
  display: none;
}

.prices__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.prices__box a {
  color: #cd0003;
}

.prices__box a:hover {
  color: #fff;
}

.prices__box p:nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  padding: 0 5px;
}

.prices__box p:nth-child(2) {
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
  padding-right: 5px;
}

.prices__box p:nth-child(3) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0;
}

.prices__box p {
  justify-self: flex-start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 20px;
}

.prices__box-img {
  overflow: hidden;
}

.prices__box-img img {
  width: 100%;
  height: 100%;
}

/************************/
.pricesreadmore__block {
  width: 99%;
  border: solid 0.5px #fff;
}

.pricesreadmore-title {
  display: none;
}

.pricesreadmore__block-title {
  border-bottom: solid 0.5px #fff;
  padding: 10px 0;
}

.pricesreadmore__block-titles {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.pricesreadmore__color-dark {
  background-color: #363636;
}

.pricesreadmore__color-light {
  background-color: #666;
}

.pricesreadmore__mobail-none {
  display: none;
}

.pricesreadmore .mobail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.pricesreadmore .mobail-img {
  overflow: hidden;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.pricesreadmore .mobail-img img {
  width: 100%;
  height: 100%;
}

.pricesreadmore div:nth-child(1) {
  -webkit-box-flex: 1.4;
      -ms-flex: 1.4;
          flex: 1.4;
}

.pricesreadmore div:nth-child(2) {
  -webkit-box-flex: 0.9;
      -ms-flex: 0.9;
          flex: 0.9;
}

.pricesreadmore__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: left;
  padding: 10px 0 10px 5px;
}

.pricesreadmore__box .white-spice {
  white-space: pre-line;
}

.pricesreadmore__box p {
  line-height: 20px;
}

.pricesreadmore__box-img {
  overflow: hidden;
  display: none;
  /*прячем на маленьких экранах*/
}

.pricesreadmore__box-img img {
  width: 100%;
  height: 100%;
}

/************  ABOUTUS  *****************/
/********* MODAL **********/
.modal__top-text {
  margin-bottom: 15px;
}

.section .modal__text-bottom {
  text-align: center;
  padding: 20px 0;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 20px;
}

.btn {
  margin: 0 auto;
  display: block;
  width: 70%;
  background: transparent;
  outline: 0;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  overflow: hidden;
  pointer-events: none;
  /* делаем ссылку некликабельной */
  cursor: default;
  /* устанавливаем курсор в виде стрелки */
}

.btn img {
  width: 100%;
}

.modal {
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 5rem;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 2;
}

/******* СТРАНИЦА ОТЗЫВЫ *******/
.section__reviews {
  overflow: hidden;
}

.reviews {
  width: 215px;
  height: 370px;
  overflow: hidden;
  border: solid 0.5px #fff;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: inline-block;
  margin: 5px;
}

.reviews p {
  width: 100%;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 10px;
  height: 10%;
  background-color: #666;
  text-align: center;
}

.reviews a {
  width: 100%;
  height: 100%;
}

.reviews a img {
  width: 100%;
}

.reviews .reviews-modal {
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 5rem;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 2;
}

@media screen and (min-width: 900px) {
  .modal__box {
    max-height: 90%;
    padding: 1em;
    background: #fff;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    -webkit-transition: all 0.3s cubic-bezier(0.2, 0.9, 0.3, 1.5);
    transition: all 0.3s cubic-bezier(0.2, 0.9, 0.3, 1.5);
    -webkit-transform: rotate(5deg) translate(-1em, 1em);
            transform: rotate(5deg) translate(-1em, 1em);
  }
  .modal__box img {
    width: 100%;
  }
  /* modal magic */
  .btn:focus + .modal {
    opacity: 1;
    visibility: visible;
  }
  .btn:focus + .modal .modal__box {
    -webkit-transform: rotate(0deg) translate(0, 0);
    transform: rotate(0deg) translate(0, 0);
  }
  .section .modal__top-text {
    margin-bottom: 15px;
  }
  .btn {
    cursor: pointer;
    pointer-events: painted;
    /* делаем ссылку кликабельной */
  }
  .btn img {
    width: 100%;
  }
  .reviews__modal-box {
    position: relative;
    max-height: 80%;
    padding: 1em;
    background: #fff;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    -webkit-transition: all 0.3s cubic-bezier(0.2, 0.9, 0.3, 1.5);
    transition: all 0.3s cubic-bezier(0.2, 0.9, 0.3, 1.5);
  }
  .reviews__modal-box img {
    width: 450px;
  }
  /* modal magic */
  .reviews-btn:focus + .reviews-modal {
    opacity: 1;
    visibility: visible;
  }
  .reviews-modal:focus + .reviews-modal .reviews__modal-box {
    -webkit-transform: rotate(0deg) translate(0, 0);
    transform: rotate(0deg) translate(0, 0);
  }
  .x {
    position: absolute;
    top: -15px;
    right: -5px;
    font-size: 10px;
    padding: 2px 5px;
    border: solid 1px #fff;
    border-radius: 50%;
    background-color: #000;
    outline: none;
    color: #fff;
    -webkit-box-shadow: -0.2em 0.2em 5px rgba(10, 10, 10, 0.5);
            box-shadow: -0.2em 0.2em 5px rgba(10, 10, 10, 0.5);
    cursor: pointer;
  }
}

/***********************/
.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin: 0 50px;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
  width: auto;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/********* MODELING **************/
.slide__item {
  cursor: pointer;
}

.slide {
  position: relative;
  max-width: 85%;
  max-height: 537px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 0;
  border-top: solid 0.5px #fff;
}

.slide .slide__item {
  width: 80%;
  max-height: 530px;
  outline: none;
  overflow: hidden;
}

.slide .slide__item img {
  width: 100%;
}

/* Слайдер */
/* Стрелка */
.slide .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 40px;
  height: 80px;
}

/* Стрелка влево */
.slide .slick-arrow.slick-prev {
  left: -30px;
  background: url("../img/arrow-left-min2.png") 0 0/40% no-repeat;
  outline: none;
  cursor: pointer;
  border: none;
}

.slide .slick-arrow.slick-prev:hover {
  content: "";
  background: url("../img/arrow-left-min1.png") 0 0/40% no-repeat;
}

/* Стрелка вправо */
.slide .slick-arrow.slick-next {
  right: -50px;
  background: url("../img/arrow-right-min2.png") 0 0/40% no-repeat;
  outline: none;
  cursor: pointer;
  border: none;
}

.slide .slick-arrow.slick-next:hover {
  content: "";
  background: url("../img/arrow-right-min1.png") 0 0/40% no-repeat;
}

/*********MIN***********/
.slidemin {
  margin: 0 auto;
  padding-top: 30px;
  position: relative;
  max-width: 85%;
  max-height: 137px;
}

.slidemin .slide__item {
  width: 80%;
  max-height: 105px;
  outline: none;
  text-align: center;
  overflow: hidden;
}

.slidemin .slide__item img {
  margin: 0 auto;
  width: 90%;
  height: auto;
  border: solid 1px #fff;
  z-index: 0;
}

.slidemin .slick-active img {
  display: block;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  background: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.slidemin .slick-active + .slick-active img {
  -webkit-transform: scale(1);
          transform: scale(1);
  background: #222;
  opacity: 0.3;
}

/***********similar*************/
.similar {
  margin: 0 auto;
  position: relative;
  max-width: 85%;
  /* Стрелка */
  /* Стрелка влево */
  /* Стрелка вправо */
}

.similar .slide__item {
  width: 80%;
  outline: none;
  text-align: center;
  overflow: hidden;
}

.similar .slide__item a {
  margin: 0 auto;
  display: block;
  width: 80%;
  overflow: hidden;
  outline: none;
  margin-bottom: 10px;
}

.similar .slide__item a:hover + a {
  color: #cd0003;
}

.similar .slide__item img {
  width: 100%;
  height: auto;
  border: solid 1px #fff;
  z-index: 0;
  outline: none;
}

.similar .slick-arrow {
  position: absolute;
  top: 40%;
  margin: -30px 0px 0px 0px;
  z-index: 1;
  font-size: 0;
  width: 30px;
  height: 50px;
}

.similar .slick-arrow.slick-prev {
  left: -5px;
  background: url("../img/arrow-left-min2.png") 0 0/40% no-repeat;
  outline: none;
  cursor: pointer;
  border: none;
}

.similar .slick-arrow.slick-prev:hover {
  content: "";
  background: url("../img/arrow-left-min1.png") 0 0/40% no-repeat;
}

.similar .slick-arrow.slick-next {
  right: -25px;
  background: url("../img/arrow-right-min2.png") 0 0/40% no-repeat;
  outline: none;
  cursor: pointer;
  border: none;
}

.similar .slick-arrow.slick-next:hover {
  content: "";
  background: url("../img/arrow-right-min1.png") 0 0/40% no-repeat;
}

.client {
  /* Стрелка */
}

.client .slide__item img {
  width: 90%;
  border: none;
}

.client__cont {
  padding-bottom: 15px;
}

.client .slick-arrow {
  position: absolute;
  top: 90%;
  margin: -30px 0px 0px 0px;
  z-index: 1;
  font-size: 0;
  width: 30px;
  height: 50px;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
  }
  /* Стрелка влево */
  .sliders .slick-arrow.slick-prev {
    left: 3%;
  }
  /* Стрелка вправо */
  .sliders .slick-arrow.slick-next {
    right: 1%;
  }
}

@media screen and (max-width: 1020px) {
  .cont {
    width: 90%;
  }
}

@media screen and (max-width: 900px) {
  .header-top {
    font-size: 18px;
  }
  .top-container {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .logo-top {
    display: none;
  }
  .tel {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .tel span {
    margin-left: 10px;
  }
  .top-box {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .contact {
    margin-top: 9px;
  }
  .menu__list {
    margin-top: 25px;
  }
  .podmenu__list {
    font-size: 14px;
  }
  .wrapper {
    padding: 15px 0;
  }
}

@media screen and (max-width: 720px) {
  .top-container {
    width: 99%;
  }
  .top-box {
    padding-left: -20px;
  }
  .contact {
    max-width: 195px;
  }
}

@media screen and (max-width: 600px) {
  .top-box {
    display: none;
  }
  .nivo-controlNav {
    display: none;
    padding: 0;
  }
  .nivo-caption {
    padding: 0;
    opacity: 0.2 !important;
    height: 0px;
  }
  .header-top {
    opacity: 1;
    z-index: 1;
    position: relative;
  }
}

@media screen and (min-width: 411px) {
  /*******стрелки слайда  главная страница********/
  .client .slick-arrow {
    top: 80%;
  }
}

@media screen and (min-width: 468px) {
  /*******MODELING********/
  .section .section__conts-img {
    height: 169px;
  }
}

@media screen and (min-width: 540px) {
  .section__box-texte span {
    margin-left: 20px;
  }
}

@media screen and (min-width: 600px) {
  .section__box-texte {
    line-height: 25px;
  }
  .section__box-textes {
    width: 524px;
  }
  .section__box-textes p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section__box-textes span {
    padding-right: 15px;
    display: inline-block;
  }
  .footer__bottom {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__box {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .footer__contacts {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer__text {
    margin-top: 0;
    line-height: 35px;
  }
  /*******стрелки слайда  главная страница********/
  .client .slick-arrow {
    top: 70%;
  }
  /*********   PRICES   ************/
  .prices {
    padding-bottom: 20px;
  }
  .prices .prices-title {
    padding: 15px;
  }
  .prices .prices-title .prices__mobail-none {
    display: block;
  }
  .prices__block-title {
    padding: 15px 0;
  }
  .prices h6:nth-child(1) {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0 5px;
  }
  .prices h6:nth-child(2) {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0 5px;
  }
  .prices h6:nth-child(3) {
    -webkit-box-flex: 1.4;
        -ms-flex: 1.4;
            flex: 1.4;
    padding: 0 5px;
  }
  .prices h6:nth-child(4) {
    -webkit-box-flex: 1.8;
        -ms-flex: 1.8;
            flex: 1.8;
    padding: 0 5px;
  }
  .prices__mobail-none {
    display: block;
  }
  .prices__box .desktop-none {
    display: none;
  }
  .prices__box p:nth-child(1) {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0 5px;
  }
  .prices__box p:nth-child(2) {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0 5px;
  }
  .prices__box p:nth-child(3) {
    -webkit-box-flex: 1.4;
        -ms-flex: 1.4;
            flex: 1.4;
    padding: 0 5px;
  }
  .prices__box p:nth-child(4) {
    -webkit-box-flex: 1.8;
        -ms-flex: 1.8;
            flex: 1.8;
    padding: 0 5px;
  }
  .pricesreadmore-title {
    display: block;
    padding: 10px 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
  }
  .pricesreadmore h6:nth-child(1) {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0 5px;
  }
  .pricesreadmore h6:nth-child(2) {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .pricesreadmore h6:nth-child(3) {
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
    padding: 0 5px;
  }
  .pricesreadmore h6:nth-child(4) {
    -webkit-box-flex: 2.5;
        -ms-flex: 2.5;
            flex: 2.5;
    padding-right: 5px;
  }
  .pricesreadmore__mobail-none {
    display: block;
  }
  .pricesreadmore .mobail-img {
    display: none;
  }
  .pricesreadmore p:nth-child(1) {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-left: 5px;
  }
  .pricesreadmore p:nth-child(2) {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0 5px;
    text-align: center;
  }
  .pricesreadmore p:nth-child(3) {
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
  }
  .pricesreadmore p:nth-child(4) {
    -webkit-box-flex: 2.5;
        -ms-flex: 2.5;
            flex: 2.5;
    padding: 5px 5px;
  }
  .pricesreadmore__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 5px;
  }
  .pricesreadmore__box p {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .pricesreadmore__box-img {
    display: block;
  }
}

@media screen and (min-width: 720px) {
  .footer__bottom {
    width: 80%;
  }
}

@media screen and (min-width: 1020px) {
  /*********SECTION***********/
  .section__container {
    margin: 0 auto;
    width: 70%;
  }
  .section__title {
    margin: 0 auto;
    width: 80%;
    padding: 15px;
    font-size: 35px;
  }
  .section__box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section__cont {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 0;
  }
  .section .section__boxs-center {
    margin: 0 auto;
    margin-top: 10px;
  }
  .section__box-img {
    width: 300px;
    height: 165px;
  }
  .section__box-text {
    font-size: 20px;
  }
  .section__box-texte {
    font-size: 15px;
  }
  .footer__containers {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__bottom {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__nav-menu {
    width: 700px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .footer__nav-podmenu {
    display: block;
    position: relative;
    text-align: center;
    background: none;
    margin-top: 0;
    margin-left: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .footer__nav-podmenu li {
    padding: 10px;
  }
  .footer__logo {
    margin: 0;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  /*******стрелки слайда  главная страница********/
  .client .slick-arrow {
    top: 85%;
  }
  /*********   PRICES   ************/
  .pricesreadmore p:nth-child(4) {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    padding: 5px 5px;
  }
  .pricesreadmore h6:nth-child(4) {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    padding: 5px 5px;
  }
}

@media screen and (min-width: 1360px) {
  /*******стрелки слайда  главная страница********/
  .client .slick-arrow {
    top: 75%;
  }
}

.info {
  background-color: #363636;
  padding: 10px 25px;
}

.info__switch {
  display: none;
}

.info__body {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.info__switch:checked ~ .info__body {
  max-height: 100px;
}

.info__headline::before {
  content: "";
  position: absolute;
  left: -18px;
  top: 4px;
  border: 6px solid #39739d;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}

.info__switch:checked ~ .info__headline::before {
  -webkit-transform: rotate(180deg) translateY(6px);
          transform: rotate(180deg) translateY(6px);
}

.info__headline {
  display: block;
  position: relative;
  margin-bottom: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #39739d;
  font-weight: normal;
  cursor: pointer;
}

.info__headline:hover {
  text-decoration: underline;
}
