body {
  font-family: "Noto Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

a:hover {
  color: #cd0003;
}

.active {
  color: #cd0003;
}

.header-top {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: black;
  opacity: 0.8;
  z-index: 1;
  font-size: 23px;
}

.active {
  color: #cd0003;
}

.top-container {
  margin: 0 auto;
  width: 70%;
}

.top-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  max-height: 105px;
}

.logo-top {
  margin-top: 10px;
  max-width: 7rem;
}

.logo-top img {
  width: 100%;
}

.contact {
  text-align: left;
  width: 235px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin-top: -15px;
}

.tel {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.tel span {
  margin-top: 5px;
}

.email {
  color: #cd0003;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
}

.menu__list-item {
  margin-left: 20px;
}

.list__podmenu:hover .podmenu__list,
.list__podmenu:focus .podmenu__list {
  display: block;
}

.podmenu__list {
  font-size: 18px;
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  min-width: 160px;
  z-index: 1;
  margin-left: -14px;
}

.podmenu__list a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

@media screen and (max-width: 900px) {
  .header-top {
    font-size: 18px;
  }
  .top-container {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .logo-top {
    display: none;
  }
  .tel {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .tel span {
    margin-left: 10px;
  }
  .top-box {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .contact {
    margin-top: 9px;
  }
  .menu__list {
    margin-top: 25px;
  }
  .podmenu__list {
    font-size: 14px;
  }
}

@media screen and (max-width: 720px) {
  .podmenu__list {
    margin-left: -14px;
  }
  .podmenu__list a {
    padding: 0;
  }
  .top-container {
    width: 99%;
  }
  .top-box {
    padding-left: -20px;
  }
  .contact {
    max-width: 195px;
  }
}

@media screen and (max-width: 600px) {
  .top-box {
    display: none;
  }
  .nivo-controlNav {
    display: none;
    padding: 0;
  }
  .nivo-caption {
    padding: 0;
    opacity: 0.2 !important;
    height: 0px;
  }
  .header-top {
    opacity: 1;
    z-index: 1;
    position: relative;
  }
}
