@media screen and (max-width: 1200px) {
    .wrapper {
        width: 90%;
        margin: 0 auto;
        padding: 50px 0;
    }
    /* Стрелка влево */
    .sliders .slick-arrow.slick-prev {
        left: 3%;
    }
    /* Стрелка вправо */
    .sliders .slick-arrow.slick-next {
        right: 1%;
    }
}

@media screen and (max-width: 1020px) {
    .cont {
        width: 90%;
    }
}
@media screen and (max-width: 900px) {
    .header-top {
        font-size: 18px;
    }
    .top-container {
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
    .logo-top {
        display: none;
    }
    .tel {
        justify-content: flex-end;
        align-content: center;
        span {
            margin-left: 10px;
        }
    }
    .top-box {
        justify-content: flex-start;
        align-content: center;
    }
    .contact {
        margin-top: 9px;
    }
    .menu {
        &__list {
            margin-top: 25px;
        }
    }
    .podmenu {
        &__list {
            font-size: 14px;
        }
    }
    .wrapper {
        padding: 15px 0;
    }
}
@media screen and (max-width: 720px) {
    .top-container {
        width: 99%;
    }
    .top-box {
        padding-left: -20px;
    }
    .contact {
        max-width: 195px;
    }
}
@media screen and (max-width: 600px) {
    .top-box {
        display: none;
    }
    .nivo-controlNav {
        display: none;
        padding: 0;
    }
    .nivo-caption {
        padding: 0;
        opacity: 0.2 !important;
        height: 0px;
    }
    .header-top {
        opacity: 1;
        z-index: 1;
        position: relative;
    }
}
@media screen and (min-width: 411px) {
    /*******стрелки слайда  главная страница********/
    .client {
        .slick-arrow {
            top: 80%;
        }
    }
}
@media screen and (min-width: 468px) {
    /*******MODELING********/
    .section {
        .section__conts-img {
            height: 169px;
        }
    }
}
@media screen and (min-width: 540px) {
    .section {
        &__box-texte {
            span {
                margin-left: 20px;
            }
        }
    }
}
@media screen and (min-width: 600px) {
    .section {
        &__box-texte {
            line-height: 25px;
        }
        &__box-textes {
            width: 524px;
            p {
                display: flex;
                justify-content: space-between;
            }
            span {
                padding-right: 15px;
                display: inline-block;
            }
        }
    }

    .footer {
        &__bottom {
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &__box {
            order: 0;
        }
        &__contacts {
            order: 1;
        }
        &__text {
            margin-top: 0;
            line-height: 35px;
        }
    }

    /*******стрелки слайда  главная страница********/
    .client {
        .slick-arrow {
            top: 70%;
        }
    }
    /*********   PRICES   ************/
    .prices {
        padding-bottom: 20px;
        .prices-title {
            padding: 15px;
            .prices__mobail-none {
                display: block;
            }
        }
        &__block-title {
            padding: 15px 0;
        }
        h6:nth-child(1) {
            flex: 1;
            padding: 0 5px;
        }
        h6:nth-child(2) {
            flex: 1;
            padding: 0 5px;
        }
        h6:nth-child(3) {
            flex: 1.4;
            padding: 0 5px;
        }
        h6:nth-child(4) {
            flex: 1.8;
            padding: 0 5px;
        }

        &__mobail-none {
            display: block;
        }
        &__box {
            .desktop-none {
                display: none;
            }
            p:nth-child(1) {
                flex: 1;
                padding: 0 5px;
            }
            p:nth-child(2) {
                flex: 1;
                padding: 0 5px;
            }
            p:nth-child(3) {
                flex: 1.4;
                padding: 0 5px;
            }
            p:nth-child(4) {
                flex: 1.8;
                padding: 0 5px;
            }
        }
    }
    .pricesreadmore {
        &-title {
            display: block;
            padding: 10px 5px;
            display: flex;
            justify-content: space-between;
            align-content: center;
            text-align: center;
        }
        h6:nth-child(1) {
            flex: 1;
            padding: 0 5px;
        }
        h6:nth-child(2) {
            flex: 1;
        }
        h6:nth-child(3) {
            flex: 1.5;
            padding: 0 5px;
        }
        h6:nth-child(4) {
            flex: 2.5;
            padding-right: 5px;
        }
        &__mobail-none {
            display: block;
        }
        .mobail-img {
            display: none;
        }
        p:nth-child(1) {
            flex: 1;
            padding-left: 5px;
        }
        p:nth-child(2) {
            flex: 1;
            padding: 0 5px;
            text-align: center;
        }
        p:nth-child(3) {
            flex: 1.5;
        }
        p:nth-child(4) {
            flex: 2.5;
            padding: 5px 5px;
        }
        &__box {
            flex-direction: row;
            padding: 0 5px;
            p {
                align-self: center;
            }
        }
        &__box-img {
            display: block;
        }
    }
}
@media screen and (min-width: 720px) {
    .footer {
        &__bottom {
            width: 80%;
        }
    }
}
@media screen and (min-width: 1020px) {
    /*********SECTION***********/
    .section {
        &__container {
            margin: 0 auto;
            width: 70%;
        }

        &__title {
            margin: 0 auto;
            width: 80%;
            padding: 30px;
            font-size: 35px;
        }

        &__box {
            justify-content: space-between;
        }
        &__cont {
            justify-content: space-between;
            padding: 20px 0;
        }
        .section__boxs-center {
            margin: 0 auto;
            margin-top: 10px;
        }
        &__box-img {
            width: 300px;
            height: 165px;
        }

        &__box-text {
            font-size: 20px;
            margin: 30px 0;
        }
        &__box-texte {
            font-size: 12px;
            p {
                padding: 20px 0;
            }
        }
    }
    .footer {
        &__containers {
            justify-content: space-around;
            flex-direction: row;
        }
        &__bottom {
            justify-content: space-between;
        }
        &__nav-menu {
            width: 700px;
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-content: flex-start;
        }
        &__nav-podmenu {
            display: block;
            position: relative;
            text-align: center;
            background: none;
            margin-top: 0;
            margin-left: 0;
            box-shadow: none;
            li {
                padding: 10px;
            }
        }
        &__logo {
            margin: 0;
            align-self: flex-end;
        }
    }
    /*******стрелки слайда  главная страница********/
    .client {
        .slick-arrow {
            top: 85%;
        }
    }
    /*********   PRICES   ************/
    .pricesreadmore {
        p:nth-child(4) {
            flex: 2;
            padding: 5px 5px;
        }
        h6:nth-child(4) {
            flex: 2;
            padding: 5px 5px;
        }
    }
}
@media screen and (min-width: 1360px) {
    /*******стрелки слайда  главная страница********/
    .client {
        .slick-arrow {
            top: 75%;
        }
    }
}
