@media screen and (max-width: 1200px) {
    .wrapper {
        width: 90%;
        margin: 0 auto;
        padding: 50px 0;
    }
    /* Стрелка влево */
    .sliders .slick-arrow.slick-prev {
        left: 3%;
    }
    /* Стрелка вправо */
    .sliders .slick-arrow.slick-next {
        right: 1%;
    }
}

@media screen and (max-width: 1020px) {
    .cont {
        width: 90%;
    }
}
@media screen and (max-width: 900px) {
    .header-top {
        font-size: 18px;
    }
    .top-container {
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
    .logo-top {
        display: none;
    }
    .tel {
        justify-content: flex-end;
        align-content: center;
        span {
            margin-left: 10px;
        }
    }
    .top-box {
        justify-content: flex-start;
        align-content: center;
    }
    .contact {
        margin-top: 9px;
    }
    .menu {
        &__list {
            margin-top: 25px;
        }
    }
    .podmenu {
        &__list {
            font-size: 14px;
        }
    }
    .wrapper {
        padding: 15px 0;
    }
}
@media screen and (max-width: 720px) {
    .podmenu {
        &__list {
            margin-left: -14px;
            a {
                padding: 0;
            }
        }
    }
    .top-container {
        width: 99%;
    }
    .top-box {
        padding-left: -20px;
    }
    .contact {
        max-width: 195px;
    }
}
@media screen and (max-width: 600px) {
    .top-box {
        display: none;
    }
    .nivo-controlNav {
        display: none;
        padding: 0;
    }
    .nivo-caption {
        padding: 0;
        opacity: 0.2 !important;
        height: 0px;
    }
    .header-top {
        opacity: 1;
        z-index: 1;
        position: relative;
    }
}
@media screen and (min-width: 600px) {
    .section {
        &__box-texte {
            line-height: 25px;
        }
    }
}
@media screen and (min-width: 1020px) {
    /*********SECTION***********/
    .section {
        &__container {
            margin: 0 auto;
            width: 70%;
        }

        &__title {
            padding-top: 30px;
            font-size: 35px;
        }

        &__box {
            justify-content: space-between;
        }

        &__box-img {
            width: 300px;
            height: 165px;
        }

        &__box-text {
            font-size: 20px;
            margin: 30px 0;
        }
        &__box-texte {
            font-size: 12px;
            p {
                padding: 20px 0;
            }
        }
    }
}
