.wrapper {
    width: 60%;
    margin: 0 auto;
    padding: 50px 0;
}
.slider__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    border: 1px solid rgba(208, 206, 206, 0.5);
    margin: 0 50px;
}
.slider__item:hover {
    box-shadow: 0 0 17.5px rgba(0, 0, 0, 0.15);
}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
    width: auto;
}

/* Лента слайдов */
.slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.sliders {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}

.sliders .slick-arrow {
    position: absolute;
    z-index: 10;
    font-size: 0;
    width: 48px;
    height: 48px;
    margin-top: 19px;
}

/* Стрелка влево */
.sliders .slick-arrow.slick-prev {
    left: 17%;
    background: url("../img/arrow-left-min2.png") 0 0 / 40% no-repeat;
    outline: none;
    cursor: pointer;
    border: none;
}
.sliders .slick-arrow.slick-prev:hover {
    content: "";
    background: url("../img/arrow-left-min1.png") 0 0 / 40% no-repeat;
}
/* Стрелка вправо */
.sliders .slick-arrow.slick-next {
    right: 16%;
    background: url("../img/arrow-right-min2.png") 0 0 / 40% no-repeat;
    outline: none;
    cursor: pointer;
    border: none;
}
.sliders .slick-arrow.slick-next:hover {
    content: "";
    background: url("../img/arrow-right-min1.png") 0 0 / 40% no-repeat;
}

.slider-content {
    display: flex;
}

.slider__img-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
}
.slider-img {
    width: 100%;
    height: auto;
}
/********* MODELING **************/
.slide__item {
    cursor: pointer;
}
.slide {
    position: relative;
    max-width: 85%;
    max-height: 537px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 0;
    border-top: solid 0.5px #fff;
    .slide__item {
        width: 80%;
        max-height: 530px;
        outline: none;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
}
/* Слайдер */

/* Стрелка */
.slide .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -30px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 40px;
    height: 80px;
}
/* Стрелка влево */
.slide .slick-arrow.slick-prev {
    left: -30px;
    background: url("../img/arrow-left-min2.png") 0 0 / 40% no-repeat;
    outline: none;
    cursor: pointer;
    border: none;
}
.slide .slick-arrow.slick-prev:hover {
    content: "";
    background: url("../img/arrow-left-min1.png") 0 0 / 40% no-repeat;
}
/* Стрелка вправо */
.slide .slick-arrow.slick-next {
    right: -50px;
    background: url("../img/arrow-right-min2.png") 0 0 / 40% no-repeat;
    outline: none;
    cursor: pointer;
    border: none;
}
.slide .slick-arrow.slick-next:hover {
    content: "";
    background: url("../img/arrow-right-min1.png") 0 0 / 40% no-repeat;
}

/*********MIN***********/
.slidemin {
    margin: 0 auto;
    padding-top: 30px;
    position: relative;
    max-width: 85%;
    max-height: 137px;
    .slide__item {
        width: 80%;
        max-height: 105px;
        outline: none;
        text-align: center;
        overflow: hidden;
        img {
            margin: 0 auto;
            width: 90%;
            height: auto;
            border: solid 0.5px #fff;
            z-index: 0;
        }
    }
    .slick-active img {
        display: block;
        transform: scale(1);
        opacity: 1;
        background: none;
        transition: 0.5s ease;
    }

    .slick-active + .slick-active img {
        transform: scale(1);

        background: #222;
        opacity: 0.3;
    }
}
/***********similar*************/
.similar {
    margin: 0 auto;

    // padding-top: 30px;
    // padding-bottom: 20px;
    position: relative;
    max-width: 85%;
    .slide__item {
        width: 80%;
        outline: none;
        text-align: center;
        overflow: hidden;
        a {
            margin: 0 auto;
            display: block;
            width: 80%;
            overflow: hidden;
            outline: none;
            margin-bottom: 10px;
            &:hover + a {
                color: #cd0003;
            }
        }
        img {
            width: 100%;
            height: auto;
            border: solid 0.5px #fff;
            z-index: 0;
            outline: none;
        }
    }
    /* Стрелка */
    .slick-arrow {
        position: absolute;
        top: 40%;
        margin: -30px 0px 0px 0px;
        z-index: 1;
        font-size: 0;
        width: 30px;
        height: 50px;
    }
    /* Стрелка влево */
    .slick-arrow.slick-prev {
        left: -5px;
        background: url("../img/arrow-left-min2.png") 0 0 / 40% no-repeat;
        outline: none;
        cursor: pointer;
        border: none;
    }
    .slick-arrow.slick-prev:hover {
        content: "";
        background: url("../img/arrow-left-min1.png") 0 0 / 40% no-repeat;
    }
    /* Стрелка вправо */
    .slick-arrow.slick-next {
        right: -25px;
        background: url("../img/arrow-right-min2.png") 0 0 / 40% no-repeat;
        outline: none;
        cursor: pointer;
        border: none;
    }
    .slick-arrow.slick-next:hover {
        content: "";
        background: url("../img/arrow-right-min1.png") 0 0 / 40% no-repeat;
    }
}
