/***********     TABS     *************/
.section__container-bottom {
    padding-bottom: 10px;
}
.prices {
    position: relative;
    width: 100%;
    &__block-mobail {
        width: 99%;
        border: solid 0.5px #fff;
        overflow: hidden;
    }
    &__block-titles {
        padding-top: 5px;
    }

    &__block-tabs {
        background-color: #363636;
    }
    &__box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        padding: 10px 5px;
        height: 200px;
        text-align: center;
    }

    &__box-img {
        min-width: 100px;
        overflow: hidden;
        margin-top: 5px;
        img {
            width: 100%;
        }
    }
}
.prices-titles {
    padding: 10px 0;
    border-bottom: solid 0.5px #fff;
}
.prices-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    height: 200px;
    padding: 10px 5px;
}

.prices__block-tabs {
    display: none;
    width: 100%;
    text-align: left;
}
.input {
    &__tab {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
    }
}
.tab {
    margin: 0 auto;
    width: 150px;
    text-align: center;
    padding: 15px 20px;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    margin-top: 10px;
}
.label {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin: 0 auto;
    max-width: 840px;
}

#logotype:checked ~ .tab__box .label label[for="logotype"],
#commercialvideo:checked ~ .tab__box .label label[for="commercialvideo"],
#imagevideo:checked ~ .tab__box .label label[for="imagevideo"],
#infographics:checked ~ .tab__box .label label[for="infographics"] {
    background-color: #363636;
    color: #cd0003;
    text-align: center;
}
#logotype:checked ~ .tab__box .logotype,
#commercialvideo:checked ~ .tab__box .commercialvideo,
#imagevideo:checked ~ .tab__box .imagevideo,
#infographics:checked ~ .tab__box .infographics {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

@media screen and (min-width: 540px) {
    .prices-title {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        height: 230px;
        padding: 10px 5px;
    }
    .prices {
        &__box {
            height: 230px;
        }
        &__box-img {
            max-width: 240px;
        }
    }
}
