#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
    transition: 0.5s;
    background-color: #cd0003;
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    background-color: #cd0003;
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: #cd0003;
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    top: 0;
    border-radius: 0;
    transition-duration: 0.8s;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 3%;
    left: 75%;
    width: 3rem;
    height: 3.5rem;
    cursor: pointer;
    z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 3px;

    background-color: #fff;

    transition-duration: 0.25s;
}

.menu__btn > span::before {
    content: "";
    top: -8px;
}
.menu__btn > span::after {
    content: "";
    top: 8px;
}

.menu__box {
    display: block;
    visibility: hidden;
    position: fixed;
    top: -100%;
    left: 0%;
    border-radius: 0 0 0% 80%;
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 80px 0;
    text-align: center;

    list-style: none;

    background-color: #333;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);

    transition-duration: 0.8s;
}

.menu__item {
    font-size: 20px;
    font-weight: 600;
}
.menu__item,
.podmenu__item {
    line-height: 2.5;
    color: #fff;
    text-decoration: none;
    display: block;
    transition-duration: 0.5s;
}

.podmenu__item,
.menu__item {
    &:hover {
        background-color: #616161;
        transition-duration: 0.9s;
    }
}
.list__podmenu {
    transition-duration: 0.5s;
    &:hover {
        box-shadow: 0 0 15px rgba(146, 145, 145, 0.5);
        transition-duration: 0.5s;
    }
}
@media screen and (min-width: 900px) {
    .menu__btn {
        top: 3%;
        left: 90%;
    }
}
@media screen and (min-width: 1100px) {
    .menu__btn {
        display: none;
    }
    .menu__box {
        visibility: inherit;
        display: flex;
        position: static;
        width: auto;
        height: auto;

        border-radius: 0;

        margin: 0;
        padding: 0;
        text-align: center;

        list-style: none;

        background-color: transparent;
        box-shadow: none;
        justify-content: flex-end;
        align-items: center;
        gap: 2rem;
    }
    .podmenu__item,
    .menu__item {
        &:hover {
            background-color: transparent;
        }
    }
    .list__podmenu {
        &:hover {
            box-shadow: none;
        }
    }

    // .menu {
    //     &__box {
    //         display: flex;
    //         justify-content: flex-end;
    //         align-items: center;
    //         width: auto;
    //         gap: 2rem;
    //     }
    // }
    /************** ANIMASHION*******************/
    .menu__box li:hover .podmenu__list li:first-of-type {
        animation: podmenu__list 0.3s ease-in-out forwards;
        animation-delay: 0.3s;
    }

    .menu__box li:hover .podmenu__list li:nth-of-type(2) {
        animation: podmenu__list 0.3s ease-in-out forwards;
        animation-delay: 0.6s;
    }

    .menu__box li:hover .podmenu__list li:nth-of-type(3) {
        animation: podmenu__list 0.3s ease-in-out forwards;
        animation-delay: 0.9s;
    }
    @keyframes podmenu__list {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    /*****************/
    .list {
        &__podmenu {
            &:hover .podmenu__list,
            &:focus .podmenu__list {
                opacity: 1;
            }
            li a {
                background-color: rgba(0, 0, 0, 0.9);
                &:hover {
                    background-color: rgba(0, 0, 0, 0.9);
                }
            }
        }
    }
    .podmenu {
        &__list {
            font-size: 18px;
            opacity: 0;
            transform-origin: top center;
            position: absolute;
            min-width: 160px;
            z-index: 1;
            margin-left: -14px;
            a {
                float: none;
                padding: 3px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
            }
            li {
                opacity: 0;
                transform-origin: top center;
            }
        }
    }
}
// .menu {
//     &__list {
//         margin-top: 25px;
//     }
// }
// .podmenu {
//     &__list {
//         font-size: 14px;
//     }
// }
.active {
    color: #cd0003;
    pointer-events: none;
}
