// @font-face {
//     font-family: "Stem-light";

//     src: url("../fonts/Stem-light.eot");

//     src: url("../fonts/Stem-light.eot") format("eot"), url("../fonts/Stem-light.woff") format("woff"),
//         url("../fonts/Stem-light.ttf") format("truetype"), url("../fonts/Stem-light.woff2") format("woff2");

//     font-weight: normal;

//     font-style: normal;
// }

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600;700;900&display=swap");

body {
    // font-family: "Noto Sans", sans-serif;
    // font-family: "Stem-light", sans-serif;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    cursor: pointer;
    margin: 0;
    padding: 0;
    &:hover {
        color: #cd0003;
    }
}
ul,
li {
    color: #fff;
}
.active {
    color: #cd0003;
    pointer-events: none;
}
.header-top {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    font-size: 23px;
    font-weight: 400;
}
.wrappers {
    color: #fff;
}
.top-container {
    margin: 0 auto;
    width: 70%;
}
.top-box {
    display: flex;
    justify-content: space-between;
    align-content: center;
    max-height: 105px;
}
.logo-top {
    margin-top: 10px;
    max-width: 7rem;
    img {
        width: 100%;
        z-index: 9999;
        opacity: 1;
    }
}
.contact {
    text-align: left;
    width: 235px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    margin-top: -15px;
}
.tel {
    display: flex;
    justify-content: space-between;
    align-content: center;
    span {
        margin-top: 5px;
    }
}
.email {
    color: #cd0003;
    align-self: flex-end;
}
.menu {
    &__list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: auto;
    }
    &__list-item {
        margin-left: 20px;
    }
}
/************** ANIMASHION*******************/
.menu__list li:hover .podmenu__list li:first-of-type {
    animation: podmenu__list 0.3s ease-in-out forwards;
    animation-delay: 0.3s;
}

.menu__list li:hover .podmenu__list li:nth-of-type(2) {
    animation: podmenu__list 0.3s ease-in-out forwards;
    animation-delay: 0.6s;
}

.menu__list li:hover .podmenu__list li:nth-of-type(3) {
    animation: podmenu__list 0.3s ease-in-out forwards;
    animation-delay: 0.9s;
}
@keyframes podmenu__list {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*****************/
.list {
    &__podmenu {
        &:hover .podmenu__list,
        &:focus .podmenu__list {
            opacity: 1;
        }
        li a {
            background-color: rgba(0, 0, 0, 0.75);
        }
    }
}
.podmenu {
    &__list {
        font-size: 18px;
        opacity: 0;
        transform-origin: top center;
        position: absolute;
        min-width: 160px;
        z-index: 1;
        margin-left: -14px;
        a {
            float: none;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }
        li {
            opacity: 0;
            transform-origin: top center;
        }
    }
}
/********SECTION**********/
.section__container {
    overflow: hidden;
}
.section-top {
    margin: 0;
}
.section {
    padding: 0 5px;
    border-top: solid 0.5px #fff;
    text-align: center;
    &__container {
        width: 100%;
        padding-bottom: 15px;
    }
    &__title {
        // padding-top: 15px;
        font-size: 25px;
    }
    &__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        width: 80%; /* добавлены две строки кода*/
        margin: 0 auto;
    }

    &__cont {
        display: flex; /************** БЛОКИ С ВИДЕО ********/
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    &__boxs-height {
        width: 300px;
        border: solid 0.5px #fff;
        overflow: hidden;
        margin: 10px;
        background-color: #666;
        .section__box-img {
            width: 100%;
            margin: 0 auto;
        }
        .section__box-text {
            margin: 0;
        }
        .section__box-texte {
            margin: 5px;
        }
        &__boxs-center {
            justify-self: center;
        }
    }
    &__boxs-top {
        display: block;
        margin-top: 0;
        width: 100%;
        padding: 20px 0;
        background-color: #363636;
    }
    iframe {
        border: none; /***************/
    }

    &__boxs {
        margin: 0 auto;
    }
    &__box-img {
        border: solid 0.5px #fff;
        overflow: hidden;
        width: 260px;
        height: 140px;
        margin: 5px;
        a {
            height: 100%;
        }
        &:hover ~ a {
            color: #cd0003;
        }

        img {
            width: 100%;
            height: 100%;
            transform: scale(1);
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -o-transform: scale(1);
            -webkit-transition-duration: 1s;
            -moz-transition-duration: 1s;
            -o-transition-duration: 1s;
            &:hover {
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -o-transform: scale(1.1);
                -webkit-transition-duration: 0.5s;
                -moz-transition-duration: 0.5s;
                -o-transition-duration: 0.5s;
            }
            iframe {
                width: 100%;
                height: auto;
            }
        }
    }
    &__box-text {
        margin: 15px 0;
        font-size: 15px;
    }

    &__box-texte {
        text-align: left; /*******ABOUT US*********/
        letter-spacing: 1px;
        font-size: 10px;
        line-height: 20px;
        word-wrap: break-all;
        p {
            // font-weight: 100;
            padding: 8px 0;
        }
        span {
            white-space: pre;
            color: #cd0003;
            line-height: 25px;
        }
    }
    &__box-textes {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        p {
            display: inline-block;
        }
        span {
            display: block;
            margin-left: 10px;
            font-weight: 600;
        }
    }
}
.section-color {
    background-color: #363636;
}
.section-colors {
    background-color: #666666;
}
/*******FOOTER********/
.footer {
    &__containers {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
    }
    &__nav {
        width: 160px;
        li {
            padding: 10px 0;
        }
    }
    &__nav-menu {
        font-size: 20px;
    }

    &__nav-podmenu {
        min-width: 160px;
        font-weight: 400;
        font-size: 13px;
        li {
            padding: 10px;
        }
    }
    &__logo {
        margin: 0 auto;
        margin-top: 10px;
        max-width: 150px;
        height: auto;
        align-self: flex-start;
        img {
            width: 70%;
        }
    }
    &__bottom {
        margin: 0 auto;
        padding-bottom: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__box {
        order: 1;
        padding: 5px;
    }
    &__text {
        margin-top: 20px;
    }
    &__contacts {
        order: 0;
        line-height: 40px;
    }
}
/********** TITLE ***************/
.data-title {
    display: inline-block; /* Строчно-блочный элемент */
    position: relative; /* Относительное позиционирование */
}
.data-title:hover::after {
    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    right: 20%;
    bottom: 110%; /* Положение подсказки */
    color: #fff;
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background-color: #363636; /* цвет фона */
    font-size: 11px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    border: 1px solid #333; /* Параметры рамки */
    width: 200px;
}
/**********modeling***************/

.section {
    &__conts {
        display: flex;
        flex-direction: column;
        border: solid 0.5px #fff;
        height: auto;
    }

    &__conts-img {
        order: 1;
        overflow: hidden;
        width: 100%;
        height: 139px;
        &:hover ~ a {
            color: #cd0003;
        }
        img {
            width: 100%;
            height: auto;
            transform: scale(1);
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -o-transform: scale(1);
            -webkit-transition-duration: 1s;
            -moz-transition-duration: 1s;
            -o-transition-duration: 1s;
            &:hover {
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -o-transform: scale(1.1);
                -webkit-transition-duration: 0.5s;
                -moz-transition-duration: 0.5s;
                -o-transition-duration: 0.5s;
            }
        }
    }
    .bottom {
        order: 2;
        margin: 15px;
    }
    &__conts-text {
        order: 0;
    }
}
.conts {
    padding: 30px;
}
/*********ОТСТУП ТЕКСТА ПОД БОЛЬШИМ СЛАЙДЕРОМ***********/
.text__bottom {
    padding-bottom: 15px;
}
/********************/

/*********отступы в секции с маленьким слайдером ПОХОЖИЕ РАБОТЫ**********/
.modeling__title {
    padding-bottom: 15px;
}
.modeling {
    padding-bottom: 15px;
}
/****************/

/*********   PRICES   ************/
.prices {
    padding-bottom: 10px;
    overflow: hidden;
    &__block {
        width: 99%;
        border: solid 0.5px #fff;
    }
    .prices-title {
        padding: 10px 5px;
        display: flex;
        justify-content: space-between;
        align-content: center;
        text-align: center;
        .prices__mobail-none {
            display: none;
        }
    }
    &__block-title {
        border-bottom: solid 0.5px #fff;
        padding: 10px 0;
    }
    &__block-titles {
        justify-self: center;
        align-self: center;
    }
    h6:nth-child(1) {
        flex: 1;
        text-align: left;
        padding: 0 5px;
    }
    h6:nth-child(2) {
        flex: 0.8;
        padding-right: 5px;
    }
    h6:nth-child(3) {
        flex: 1;
        padding: 0;
    }

    &__color-dark {
        background-color: #363636;
    }
    &__color-light {
        background-color: #666;
    }
    &__mobail-none {
        display: none;
    }
    &__box {
        display: flex;
        justify-content: space-between;
        align-content: center;
        text-align: center;
        a {
            color: #cd0003;
            &:hover {
                color: #fff;
            }
        }
        p:nth-child(1) {
            flex: 1;
            text-align: left;
            padding: 0 5px;
        }
        p:nth-child(2) {
            flex: 0.8;
            padding-right: 5px;
        }
        p:nth-child(3) {
            flex: 1;
            padding: 0;
        }

        p {
            justify-self: flex-start;
            align-self: center;
            line-height: 20px;
        }
    }
    &__box-img {
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
/************************/
.pricesreadmore {
    &__block {
        width: 99%;
        border: solid 0.5px #fff;
    }
    &-title {
        display: none;
    }
    &__block-title {
        border-bottom: solid 0.5px #fff;
        padding: 10px 0;
    }
    &__block-titles {
        justify-self: center;
        align-self: center;
    }
    &__color-dark {
        background-color: #363636;
    }
    &__color-light {
        background-color: #666;
    }
    &__mobail-none {
        display: none;
    }
    .mobail {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
    .mobail-img {
        overflow: hidden;
        align-self: center;
        img {
            width: 100%;
            height: 100%;
        }
    }
    div:nth-child(1) {
        flex: 1.4;
    }
    div:nth-child(2) {
        flex: 0.9;
    }
    &__box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        text-align: left;
        padding: 10px 0 10px 5px;
        .white-spice {
            white-space: pre-line;
        }
        p {
            line-height: 20px;
        }
    }
    &__box-img {
        overflow: hidden;
        display: none; /*прячем на маленьких экранах*/
        img {
            width: 100%;
            height: 100%;
        }
    }
}
/************  ABOUTUS  *****************/

@import "../scss/modal";
// @import "../scss/tabs";
@import "../scss/slider";
@import "../scss/adaptiv";

.info {
    background-color: #363636;
    padding: 10px 25px;
}

.info__switch {
    display: none;
}

.info__body {
    max-height: 0;
    overflow: hidden;
    transition: 0.4s;
}

.info__switch:checked ~ .info__body {
    max-height: 100px;
}

.info__headline::before {
    content: "";
    position: absolute;
    left: -18px;
    top: 4px;
    border: 6px solid #39739d;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}

.info__switch:checked ~ .info__headline::before {
    transform: rotate(180deg) translateY(6px);
}

.info__headline {
    display: block;
    position: relative;
    margin-bottom: 15px;
    user-select: none;
    color: #39739d;
    font-weight: normal;
    cursor: pointer;
}

.info__headline:hover {
    text-decoration: underline;
}

.pricesreadmore {
    &__block {
        width: 99%;
        border: solid 0.5px #fff;
    }
    &-title {
        display: none;
    }
    &__block-title {
        border-bottom: solid 0.5px #fff;
        padding: 10px 0;
    }
    &__block-titles {
        justify-self: center;
        align-self: center;
    }
    &__color-dark {
        background-color: #363636;
    }
    &__color-light {
        background-color: #666;
    }
    &__mobail-none {
        display: none;
    }
    .mobail {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
    .mobail-img {
        overflow: hidden;
        align-self: center;
        img {
            width: 100%;
            height: 100%;
        }
    }
    div:nth-child(1) {
        flex: 1.4;
    }
    div:nth-child(2) {
        flex: 0.9;
    }
    &__box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        text-align: left;
        padding: 10px 0 10px 5px;
        .white-spice {
            white-space: pre-line;
        }
        p {
            line-height: 20px;
        }
    }
    &__box-img {
        overflow: hidden;
        display: none; /*прячем на маленьких экранах*/
        img {
            width: 100%;
            height: 100%;
        }
    }
    .mobail-none {
        display: none;
    }
}
