@font-face {
    font-family: "Stem-Light";
    src: local("Stem-Light"), url("/fonts/Stem-Light.woff2") format("woff2"),
        url("/fonts/Stem-Light.woff") format("woff"), url("/fonts/Stem-Light.ttf") format("ttf"),
        url("/fonts/Stem-Light.otf") format("otf");
}
body {
    // font-family: "Noto Sans", sans-serif;
    font-family: "Stem-light", sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    cursor: pointer;
    margin: 0;
    padding: 0;
    &:hover {
        color: #cd0003;
        font-weight: bold;
    }
}
.active {
    color: #cd0003;
}
.header-top {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
    z-index: 1;
    font-size: 23px;
}

.active {
    color: #cd0003;
}
.container {
    color: #fff;
}
.top-container {
    margin: 0 auto;
    width: 70%;
}
.top-box {
    display: flex;
    justify-content: space-between;
    align-content: center;
    max-height: 105px;
}
.logo-top {
    margin-top: 10px;
    max-width: 7rem;
    img {
        width: 100%;
    }
}
.contact {
    text-align: left;
    width: 235px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    margin-top: -15px;
}
.tel {
    display: flex;
    justify-content: space-between;
    align-content: center;
    span {
        margin-top: 5px;
    }
}
.email {
    color: #cd0003;
    align-self: flex-end;
}
.menu {
    &__list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: auto;
    }
    &__list-item {
        margin-left: 20px;
    }
}
.list {
    &__podmenu {
        &:hover .podmenu__list,
        &:focus .podmenu__list {
            display: block;
        }
    }
}
.podmenu {
    &__list {
        font-size: 18px;
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.75);
        min-width: 160px;
        z-index: 1;
        margin-left: -14px;
        a {
            float: none;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }
    }
}
/********SECTION**********/
.section-top {
    margin-top: -15px;
}
.section {
    padding: 0 5px;
    border-top: solid 0.5px #fff;
    text-align: center;
    &__container {
        width: 100%;
    }
    &__title {
        padding-top: 15px;
        font-size: 25px;
    }
    &__box {
        margin: 10px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
    }
    /************** БЛОКИ С ВИДЕО ********/
    &__boxs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    &__boxs-height {
        width: 300px;
        border: solid 0.5px #fff;
        overflow: hidden;
        margin: 10px;
        .section__box-img {
            width: 100%;
            margin: 0 auto;
        }
        .section__box-text {
            margin: 0;
        }
        .section__box-texte {
            margin: 5px;
        }
    }
    &__boxs-top {
        display: block;
        margin-top: 0;
        width: 100%;
        padding: 20px 0;
        background-color: #363636;
    }
    /***************/
    &__boxs {
        margin: 0 auto;
    }

    &__box-img {
        border: solid 0.5px #fff;
        overflow: hidden;
        width: 260px;
        height: 140px;
        margin: 5px;
        img {
            width: 100%;
            height: auto;
            transform: scale(1);
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -o-transform: scale(1);
            -webkit-transition-duration: 1s;
            -moz-transition-duration: 1s;
            -o-transition-duration: 1s;
            &:hover {
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -o-transform: scale(1.1);
                -webkit-transition-duration: 0.5s;
                -moz-transition-duration: 0.5s;
                -o-transition-duration: 0.5s;
            }
            iframe {
                width: 100%;
                height: auto;
            }
        }
    }
    &__box-text {
        margin: 15px 0;
        font-size: 15px;
    }
    /*******ABOUT US*********/
    &__box-texte {
        text-align: left;
        letter-spacing: 1px;
        font-size: 10px;
        line-height: 20px;
        word-wrap: break-all;
        p {
            font-weight: 100;
            padding: 15px 0;
        }
        span {
            white-space: pre;
            color: #cd0003;
            line-height: 25px;
        }
    }
}
.section-color {
    background-color: #363636;
}
.section-colors {
    background-color: #666666;
}
/*******FOOTER********/
.footer {
    &__containers {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
    }
    &__nav {
        margin-left: 0;
        width: 160px;
        li {
            padding: 10px 0;
        }
    }
    &__nav-menu {
        text-align: left;
    }
    &__nav-list {
        &:hover .footer__nav-podmenu,
        &:focus .footer__nav-podmenu {
            display: block;
        }
    }

    &__nav-podmenu {
        display: none;
        position: absolute;
        text-align: center;
        margin-left: 103px;
        margin-top: -40px;
        background-color: rgba(0, 0, 0, 0.75);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        li {
            padding: 10px;
        }
    }
    &__logo {
        margin-top: 20px;
        max-width: 150px;
        height: auto;
        img {
            width: 70%;
        }
    }
    &__bottom {
        margin: 0 auto;
        padding-bottom: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__box {
        order: 1;
        padding: 5px;
    }
    &__text {
        margin-top: 20px;
    }
    &__contacts {
        order: 0;
        line-height: 40px;
    }
}
@import "../scss/slider";
@import "../scss/adaptiv";
