@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600;700;900&display=swap");

body {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    cursor: pointer;
    margin: 0;
    padding: 0;
    &:hover {
        color: #cd0003;
    }
}
ul,
li {
    color: #fff;
}
.active {
    color: #cd0003;
    pointer-events: none;
}
.header-top {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    font-size: 23px;
    font-weight: 400;
}
.wrappers {
    color: #fff;
}
.top-container {
    margin: 0 auto;
    width: 70%;
}
.top-box {
    display: flex;
    justify-content: space-between;
    align-content: center;
    max-height: 105px;
}
.logo-top {
    margin-top: 10px;
    max-width: 7rem;
    img {
        width: 100%;
        z-index: 9999;
        opacity: 1;
    }
}
.contact {
    text-align: left;
    width: 235px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    margin-top: -15px;
}
.tel {
    display: flex;
    justify-content: space-between;
    align-content: center;
    span {
        margin-top: 5px;
    }
}
.email {
    color: #cd0003;
    align-self: flex-end;
}

/********SECTION**********/
.section__container {
    overflow: hidden;
}
.section-top {
    margin: 0;
}
.section {
    padding: 2.5rem 0.5rem;
    border-top: solid 0.5px #fff;
    text-align: center;
    &__container {
        width: 100%;
        padding-bottom: 15px;
    }
    &__title {
        // padding-top: 15px;
        font-size: 25px;
    }
    &__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
    }

    &__cont {
        margin: 0 auto;
        display: flex; /************** БЛОКИ С ВИДЕО ********/
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    &__boxs-height {
        width: 300px;
        border: solid 0.5px #fff;
        overflow: hidden;
        margin: 10px;
        background-color: #666;
        .section__box-img {
            width: 100%;
            margin: 0 auto;
        }
        .section__box-text {
            margin: 0;
        }
        .section__box-texte {
            margin: 5px;
        }
        &__boxs-center {
            justify-self: center;
        }
    }
    &__boxs-top {
        display: block;
        margin-top: 0;
        width: 100%;
        padding: 20px 0;
        background-color: #363636;
    }
    iframe {
        border: none; /***************/
    }

    &__boxs {
        margin: 0 auto;
    }
    &__box-img {
        border: solid 0.5px #fff;
        overflow: hidden;
        width: 260px;
        height: 140px;
        margin: 5px;
        a {
            height: 100%;
        }
        &:hover ~ a {
            color: #cd0003;
        }

        img {
            width: 100%;
            height: 100%;
            transform: scale(1);
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -o-transform: scale(1);
            -webkit-transition-duration: 1s;
            -moz-transition-duration: 1s;
            -o-transition-duration: 1s;
            &:hover {
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -o-transform: scale(1.1);
                -webkit-transition-duration: 0.5s;
                -moz-transition-duration: 0.5s;
                -o-transition-duration: 0.5s;
            }
            iframe {
                width: 100%;
                height: auto;
            }
        }
    }
    &__box-text {
        margin: 15px 0;
        font-size: 15px;
    }

    &__box-texte {
        text-align: left; /*******ABOUT US*********/
        letter-spacing: 1px;
        font-size: 10px;
        line-height: 20px;
        word-wrap: break-all;
        p {
            // font-weight: 100;
            padding: 8px 0;
        }
        span {
            white-space: pre;
            color: #cd0003;
            line-height: 25px;
        }
    }
    &__box-textes {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        p {
            display: inline-block;
        }
        span {
            display: block;
            margin-left: 10px;
            font-weight: 600;
        }
    }
}
.video {
    margin: 0 auto;
    // width: 95%;
    // padding: 2rem 0;
    width: 95%;
    height: 0;
    padding-bottom: 56.25%;
    background-color: #000;
    position: relative;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.videos {
    padding: 2rem 0;
    .section__box-texte {
        margin-top: 2rem;
    }
    .section__title {
        margin-bottom: 2rem;
    }
}
.section-color {
    background-color: #363636;
}
.section-colors {
    background-color: #666666;
}
/*******FOOTER********/
.footer {
    &__containers {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
    }
    &__nav {
        width: 160px;
        li {
            padding: 10px 0;
        }
    }
    &__nav-menu {
        font-size: 20px;
    }

    &__nav-podmenu {
        min-width: 160px;
        font-weight: 400;
        font-size: 13px;
        li {
            padding: 10px;
        }
    }
    &__logo {
        margin: 0 auto;
        margin-top: 10px;
        max-width: 150px;
        height: auto;
        align-self: flex-start;
        img {
            width: 70%;
        }
    }
    &__bottom {
        margin: 0 auto;
        padding-bottom: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__box {
        order: 1;
        padding: 5px;
    }
    &__text {
        margin-top: 20px;
    }
    &__contacts {
        order: 0;
        line-height: 40px;
    }
}

/**********modeling***************/

.section {
    &__conts {
        display: flex;
        flex-direction: column;
        border: solid 0.5px #fff;
        height: auto;
    }

    &__conts-img {
        order: 1;
        overflow: hidden;
        width: 100%;
        height: 139px;
        &:hover ~ a {
            color: #cd0003;
        }
        img {
            width: 100%;
            height: auto;
            transform: scale(1);
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -o-transform: scale(1);
            -webkit-transition-duration: 1s;
            -moz-transition-duration: 1s;
            -o-transition-duration: 1s;
            &:hover {
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -o-transform: scale(1.1);
                -webkit-transition-duration: 0.5s;
                -moz-transition-duration: 0.5s;
                -o-transition-duration: 0.5s;
            }
        }
    }
    .bottom {
        order: 2;
        margin: 15px;
    }
    &__conts-text {
        order: 0;
    }
}
.conts {
    padding: 30px;
}
/*********ОТСТУП ТЕКСТА ПОД БОЛЬШИМ СЛАЙДЕРОМ***********/
.text__bottom {
    padding-bottom: 15px;
}
/********************/

/*********отступы в секции с маленьким слайдером ПОХОЖИЕ РАБОТЫ**********/
.modeling__title {
    padding-bottom: 15px;
}
.modeling {
    padding-bottom: 15px;
}
/****************/

/*********   PRICES   ************/
.prices {
    padding-bottom: 10px;
    margin-top: 1rem;
    overflow: hidden;
    &__block {
        width: 99%;
        border: solid 0.5px #fff;
    }
    .prices-title {
        padding: 10px 5px;
        display: flex;
        justify-content: space-between;
        align-content: center;
        text-align: center;
        .prices__mobail-none {
            display: none;
        }
    }
    &__block-title {
        border-bottom: solid 0.5px #fff;
        padding: 10px 0;
    }
    &__block-titles {
        justify-self: center;
        align-self: center;
    }
    h6:nth-child(1) {
        flex: 1;
        text-align: left;
        padding: 0 5px;
    }
    h6:nth-child(2) {
        flex: 0.8;
        padding-right: 5px;
    }
    h6:nth-child(3) {
        flex: 1;
        padding: 0;
    }

    &__color-dark {
        background-color: #363636;
    }
    &__color-light {
        background-color: #666;
    }
    &__mobail-none {
        display: none;
    }
    &__box {
        display: flex;
        justify-content: space-between;
        align-content: center;
        text-align: center;
        a {
            color: #cd0003;
            &:hover {
                color: #fff;
            }
        }
        p:nth-child(1) {
            flex: 1;
            text-align: left;
            padding: 0 5px;
        }
        p:nth-child(2) {
            flex: 0.8;
            padding-right: 5px;
        }
        p:nth-child(3) {
            flex: 1;
            padding: 0;
        }

        p {
            justify-self: flex-start;
            align-self: center;
            line-height: 20px;
        }
    }
    &__box-img {
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
/************************/
.pricesreadmore {
    &__block {
        width: 99%;
        border: solid 0.5px #fff;
    }
    &-title {
        display: none;
    }
    &__block-title {
        border-bottom: solid 0.5px #fff;
        padding: 10px 0;
    }
    &__block-titles {
        justify-self: center;
        align-self: center;
    }
    .desctop__color-dark,
    &__color-dark {
        background-color: #363636;
    }
    .desctop__color-light,
    &__color-light {
        background-color: #666;
    }
    &__mobail-none {
        display: none;
    }
    .mobail {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
    .mobail-img {
        overflow: hidden;
        align-self: center;
        margin-top: 0.5rem;
        img {
            width: 100%;
            height: 100%;
        }
    }
    // div:nth-child(1) {
    //     flex: 1.4;
    // }
    // div:nth-child(2) {
    //     flex: 0.9;
    // }
    &__box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        text-align: left;
        padding: 10px 0 10px 5px;
        .white-spice {
            white-space: pre-line;
        }
        p {
            line-height: 20px;
        }
    }
    &__box-img {
        overflow: hidden;
        display: none; /*прячем на маленьких экранах*/
        img {
            width: 100%;
            height: 100%;
        }
    }
}
/************  ABOUTUS  *****************/

@import "../scss/modal";
// @import "../scss/tabs";
@import "../scss/slider";

.info {
    padding: 10px 25px;
}
.info-dark {
    background-color: #363636;
}
.info-light {
    background-color: #666;
}
.info__switch {
    display: none;
}

.info__body {
    max-height: 0;
    overflow: auto;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 1rem 0 0 0;
    &::-webkit-scrollbar {
        display: none;
    }
}

.info__switch:checked ~ .info__body {
    max-height: 100px;
}

.info__headline::before {
    content: "";
    position: absolute;
    left: 35%;
    top: 45%;
    border: 6px solid #cd0003;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}

.info__switch:checked ~ .info__headline::before {
    transform: rotate(180deg) translateY(6px);
    top: 35%;
}

.info__headline {
    display: block;
    position: relative;
    user-select: none;
    color: #cd0003;
    font-weight: normal;
    cursor: pointer;
    text-align: left;
}

.info__headline:hover {
    text-decoration: underline;
}

.pricesreadmore {
    &__block {
        width: 99%;
        border: solid 0.5px #fff;
    }
    &-titl {
        display: none;
        padding: 10px 5px;
    }
    &__block-title {
        border-bottom: solid 0.5px #fff;
        padding: 10px 0;
        font-size: 24px;
    }
    &__block-titles {
        justify-self: center;
        align-self: center;
    }
    &__color-dark {
        background-color: #363636;
    }
    &__color-light {
        background-color: #666;
    }
    &__mobail-none {
        display: none;
    }
    .mobail {
        display: flex;
        justify-content: space-between;
        align-content: center;
        gap: 0 2rem;
    }
    .mobail-img {
        overflow: hidden;
        align-self: center;
        img {
            width: 100%;
            height: 100%;
        }
    }

    &__boxs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: left;
        justify-self: center;
        align-self: center;
        gap: 1rem;
        padding: 10px 0 10px 5px;
        // .white-spice {
        //     white-space: pre-line;
        // }
        p {
            line-height: 20px;
        }
    }
    &__box-img {
        max-width: 50%;
        overflow: hidden;
        display: none; /*прячем на маленьких экранах*/
        img {
            width: 100%;
            height: 100%;
        }
    }
    .mobail-none {
        display: none;
    }
}
.pad {
    padding: 2rem 0;
}
.none {
    display: none;
}
.prices__block-title {
    font-size: 24px;
}
/* MAP */
.map {
    &__container {
        margin: 0 auto;
        width: 90%;
        padding: 4rem 0;
    }
    &__box-texte {
        margin-top: 4rem;
    }
    &__title {
        font-size: 36px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 1rem;
        color: #fff;
    }
}
.sitemap,
.sitemaps {
    border: 1px solid transparent;
    transition: all 0.75s ease-out;
    padding-left: 5px;
    &:hover,
    &:focus,
    &:active,
    &:target {
        border-radius: 9px;
        // border: 1px solid #fff;
        background-color: #363636;
        transition: all 0.75s ease-out;
    }
}
.sitemap {
    &__title {
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 1rem;
    }
    &__titl {
        font-size: 22px;
        margin-bottom: 1rem;
        width: 100%;
        font-weight: 500;
        position: relative;
    }
    &__titls {
        margin-bottom: 1rem;
        font-size: 22px;
        font-weight: 360;
        text-align: left;
    }
    &__box {
        transition: 1s;
        padding-bottom: 1rem;
    }
    &__box,
    &__boxs {
        p {
            text-align: left;
            font-size: 18px;
            font-weight: 300;
            width: 100%;
            a {
                padding: 0.5rem 0;
                width: 100%;
            }
        }
    }
}
.abouts {
    padding: 1rem 1rem 0.2rem 1rem;
}
.hover {
    display: inline-block;
    position: relative;
    padding: 1rem 1rem 0.2rem 1rem;
    &:before {
        content: "";
        border: solid transparent;
        position: absolute;
        top: 100%;
        left: 50%;
        border-top-color: #eee;
        border-width: 9px;
        margin-left: -9px;
    }
    &:hover a,
    &:hover::before {
        color: #cd0003;
        border-top-color: #cd0003;
    }
}

@import "../scss/adaptiv";
